In [2]:
from label import label
import numpy as np
import pandas as pd
import quandl
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [3]:
path = "D:\\Project\\Bitcoin_Price_Prediction\\data\\binance-BTCUSDT-1m.csv"

In [4]:
df = label(path, 15)

In [5]:
df.head()

,Open,High,Low,Close,Volumn,Timestamp End,Quote_asset_volume,Number_of_trades,Base_asset_volume,Taker_buy_base_asset_volume,Time_UTC_Start,label
Timestamp,,,,,,,,,,,,
1531910340000,7370.00,7404.23,7365.10,7402.13,421.446875,1531911239999,3.112218e+06,2210,244.531743,1.805624e+06,2018-07-18 10:39:00,1.0
1531911240000,7404.23,7419.09,7393.03,7398.00,400.220193,1531912139999,2.963666e+06,2825,217.698269,1.612081e+06,2018-07-18 10:54:00,0.0
1531912140000,7397.00,7413.67,7388.97,7401.99,283.424582,1531913039999,2.097944e+06,2022,158.367674,1.172256e+06,2018-07-18 11:09:00,1.0
1531913040000,7401.99,7433.32,7395.00,7430.33,385.377189,1531913939999,2.858399e+06,2194,230.656692,1.711215e+06,2018-07-18 11:24:00,1.0
1531913940000,7430.33,7433.58,7408.07,7418.00,412.557017,1531914839999,3.061536e+06,2352,231.403556,1.717226e+06,2018-07-18 11:39:00,0.0

In [6]:
# A variable for predicting 'n' days out into the future
forecast_out = 1
# Create target column (dependent variable) shifted 'n' units up
df['Prediction'] = df[["Close"]].shift(-forecast_out)
df = df.drop(columns  =["label", "Time_UTC_Start"])

In [7]:
df.head()

,Open,High,Low,Close,Volumn,Timestamp End,Quote_asset_volume,Number_of_trades,Base_asset_volume,Taker_buy_base_asset_volume,Prediction
Timestamp,,,,,,,,,,,
1531910340000,7370.00,7404.23,7365.10,7402.13,421.446875,1531911239999,3.112218e+06,2210,244.531743,1.805624e+06,7398.00
1531911240000,7404.23,7419.09,7393.03,7398.00,400.220193,1531912139999,2.963666e+06,2825,217.698269,1.612081e+06,7401.99
1531912140000,7397.00,7413.67,7388.97,7401.99,283.424582,1531913039999,2.097944e+06,2022,158.367674,1.172256e+06,7430.33
1531913040000,7401.99,7433.32,7395.00,7430.33,385.377189,1531913939999,2.858399e+06,2194,230.656692,1.711215e+06,7418.00
1531913940000,7430.33,7433.58,7408.07,7418.00,412.557017,1531914839999,3.061536e+06,2352,231.403556,1.717226e+06,7418.29

In [8]:
df.tail()

,Open,High,Low,Close,Volumn,Timestamp End,Quote_asset_volume,Number_of_trades,Base_asset_volume,Taker_buy_base_asset_volume,Prediction
Timestamp,,,,,,,,,,,
1651905540000,35858.19,35878.00,35795.54,35795.55,231.84170,1651906439999,8.311628e+06,5817,86.37750,3.096591e+06,35812.80
1651906440000,35795.54,35832.12,35790.02,35812.80,154.68942,1651907339999,5.539456e+06,5981,91.67201,3.282832e+06,35867.66
1651907340000,35812.81,35870.00,35800.00,35867.66,613.84752,1651908239999,2.198320e+07,7098,179.25880,6.422060e+06,35902.74
1651908240000,35867.65,35912.00,35826.36,35902.74,330.43230,1651909139999,1.185255e+07,5798,194.71258,6.983194e+06,35951.69
1651909140000,35902.75,35956.51,35880.47,35951.69,368.39213,1651910039999,1.323538e+07,7430,228.14790,8.196411e+06,NaN

In [9]:
# Crete the inpredendent dataset (X)
# Convert the dataframe to a numpy array
X = np.array(df.drop(['Prediction'],1))
# Remove the last 'n' rows
X = X[:-forecast_out]
X.shape

(133332, 10)

In [10]:
# Create dependent dataset (y)
# Convert the dataframe to a nupy array (All of the values including the NaN's)
y = np.array(df['Prediction'])

# Get all of the y values except the last 'n' rows
y = y[:-forecast_out]
shape = y.shape[0]
shape

133332

In [11]:
# Split data into  80% training and 20% testing
end = int(shape * 0.8)
X_train, X_test, y_train, y_test = X[0: end], X[end:], y[:end], y[end:]

In [ ]:
# Create and train the SVM  (Regressor)
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.1)
svr_rbf.fit(X_train, y_train)

In [ ]:
# Testing model: 
svm_confidence = svr_rbf.score(x_test, y_test)
print('svm confidence: ', svm_confidence)

In [1]:
import gc
gc.collect()

0

In [ ]:
# Create and train the linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
# Test model
lr_confidence = lr.score(x_test, y_test)
print('lr confidence: ', lr)

In [ ]:
# Set x_forecast equal to the last 30 rows of the original data set from Close columns
x_forecast = np.array(df.drop['Prediction'])[-forecase_out:]

In [ ]:
x_forecast

In [ ]:
# Print the predictions for the next 'n' days
lr_prediction = lr.predict(x_forecast)

In [ ]:
svr_rbf_prediction = svr_rbf.predict(x_forecast)