In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
df1 = pd.read_csv('D:\\HUST\\20212\\Machine Learning\\Bitcoin_Price_Prediction\\data\\binance-BTCUSDT-1m.csv')

In [3]:
df1

,Timestamp,Open,High,Low,Close,N/A,Timestamp End,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5,Time_UTC_Start
0,1531910040000,7394.60,7394.60,7382.07,7385.00,27.539346,1531910099999,2.034712e+05,217,10.883414,8.040716e+04,0,2018-07-18 10:34:00
1,1531910100000,7385.00,7385.00,7378.27,7379.18,16.894401,1531910159999,1.247068e+05,184,10.320014,7.618136e+04,0,2018-07-18 10:35:00
2,1531910160000,7378.27,7379.18,7370.00,7372.47,44.158140,1531910219999,3.256312e+05,229,21.079610,1.554834e+05,0,2018-07-18 10:36:00
3,1531910220000,7370.03,7377.00,7367.22,7373.95,46.129979,1531910279999,3.399929e+05,300,33.766038,2.488708e+05,0,2018-07-18 10:37:00
4,1531910280000,7373.95,7374.00,7369.33,7370.00,11.282937,1531910339999,8.318349e+04,142,7.941090,5.855096e+04,0,2018-07-18 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,1651909740000,35920.00,35923.50,35913.03,35913.04,12.096760,1651909799999,4.345057e+05,388,7.151330,2.568724e+05,0,2022-05-07 07:49:00
1999996,1651909800000,35913.04,35922.47,35913.03,35922.46,24.311140,1651909859999,8.731911e+05,575,9.917070,3.561851e+05,0,2022-05-07 07:50:00
1999997,1651909860000,35922.46,35950.19,35922.46,35940.01,72.302490,1651909919999,2.598789e+06,782,32.884100,1.181822e+06,0,2022-05-07 07:51:00
1999998,1651909920000,35940.01,35956.51,35940.00,35956.51,44.738440,1651909979999,1.608394e+06,517,38.371650,1.379504e+06,0,2022-05-07 07:52:00
1999999,1651909980000,35956.51,35956.51,35951.68,35951.69,25.641930,1651910039999,9.219533e+05,408,19.083780,6.861597e+05,0,2022-05-07 07:53:00

In [4]:
feature = df1.columns
NA_ = np.array(list(x for x in feature if x.find('N/A') != -1))
NA_

array(['N/A', 'N/A.1', 'N/A.2', 'N/A.3', 'N/A.4', 'N/A.5'], dtype='<U5')

In [5]:
df1.shape

(2000000, 13)

In [6]:
def group_by(df, t):
    start_index = df.shape[0] - df.shape[0]//t * t
    newDf = pd.DataFrame(columns  = feature)
    for i in range(start_index,df.shape[0],t):
        tempdf = df[i: i+t]
        timestamp, opn = tempdf[['Timestamp', 'Open']].values[0] 
        high = tempdf['High'].max()
        low = tempdf['Low'].min()
        close, timeEnd = tempdf[['Close','Timestamp End']].values[-1]
        NA = tempdf[NA_].sum()
        row = [timestamp,opn,high,low,close,NA[0],timeEnd,NA[1], NA[2],NA[3], NA[4], NA[5], tempdf['Time_UTC_Start'].values[0]]
        new_df = pd.DataFrame([row], columns = feature)
        newDf = pd.concat([newDf, new_df], ignore_index = True)
    return newDf

In [7]:
def label(df):
    length = df.shape[0]
    print(length)
    op = df['Open'].values.reshape(length,1)
    cl = df['Close'].values.reshape(length,1 )
    v = np.ones((length, 1)) * (cl < op)
    df['label'] = v
    return df

In [8]:
df3 = group_by(df1, 15)
df4 = group_by(df1, 60)
df3 = label(df3)
df4 = label(df4)
df3.shape

NameError: name 'df2' is not defined

In [9]:
# time = 15 min
# from pathlib import Path 
# filepath = Path('D:\HUST\20212\Machine Learning\Bitcoin_Price_Prediction\\data\\binance-BTCUSDT-15m.csv')
# filepath.parent.mkdir(parents=True, exist_ok=True) 
# df3.to_csv(filepath)

In [10]:
# time = 60 min
# filepath = Path('D:\HUST\20212\Machine Learning\Bitcoin_Price_Prediction\\data\\binance-BTCUSDT-60m.csv')
# filepath.parent.mkdir(parents=True, exist_ok=True) 
# df4.to_csv(filepath)