In [2]:
from label.label import label
import pandas as pd

df = label("binance-BTCUSDT-1m.csv")
df

,open,high,low,close,volume,quote_asset_volume,number_of_trades,base_asset_volume,quote_asset_volume,label
Time_UTC_Start,,,,,,,,,,
2018-07-18 11:00:00,7403.62,7409.77,7400.74,7405.01,35.159664,2.603868e+05,229.0,16.229202,120194.647778,1.0
2018-07-18 12:00:00,7418.02,7419.99,7416.55,7419.98,44.474849,3.299686e+05,114.0,37.061210,274965.375198,1.0
2018-07-18 13:00:00,7435.90,7437.02,7431.00,7437.02,42.365364,3.149200e+05,276.0,26.980340,200556.171114,1.0
2018-07-18 14:00:00,7458.14,7459.36,7445.03,7451.30,25.105532,1.871272e+05,228.0,9.664364,72045.500859,0.0
2018-07-18 15:00:00,7451.71,7453.01,7442.10,7444.30,60.280231,4.488050e+05,220.0,31.972354,238020.383175,0.0
...,...,...,...,...,...,...,...,...,...,...
2022-05-07 03:00:00,35953.63,35953.64,35943.60,35951.24,6.376430,2.292318e+05,339.0,3.818980,137290.253366,0.0
2022-05-07 04:00:00,35812.22,35826.14,35812.21,35826.14,6.066650,2.173069e+05,348.0,5.129450,183735.644012,1.0
2022-05-07 05:00:00,35746.62,35768.06,35722.24,35768.05,34.156320,1.220607e+06,993.0,19.901990,711168.120653,1.0
2022-05-07 06:00:00,35898.96,35903.80,35890.03,35900.00,16.707700,5.997658e+05,580.0,10.902570,391364.049595,1.0
2022-05-07 07:00:00,35806.28,35806.28,35805.80,35805.80,3.683200,1.318806e+05,293.0,1.286830,46076.058313,0.0

In [4]:
df.to_csv("binance_btc_1h.csv")

In [ ]:
df